<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Remark</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="/scripts/nav.js"></script>
  </head>
  <body class="min-h-screen bg-gray-200">
    <div class="relative overflow-hidden min-h-screen">
      <div class="relative pt-6 pb-6 mb-10 sm:mb-18 bg-gray-800"><%- include('./partials/nav'); %></div>
      <div class="max-w-5xl mx-auto">
        <div class="px-4">
          <div class="py-14 px-10 sm:px-20 border rounded-lg bg-white">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="">
              <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                  <h1 class="text-4xl font-bold leading-tight tracking-tight text-gray-900">Request Remark</h1>
                  <p class="mt-2 text-sm text-gray-700 font-bold">Student ID: <%= id %></p>
                </div>
              </div>
              <div class="-mx-4 mt-8 flex flex-col sm:-mx-6 md:mx-0">
                <form action="/api/v1/requests/create" method="POST" class="space-y-8 divide-y divide-gray-200">
                  <div class="space-y-8 divide-y divide-gray-200">
                    <div>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                          <label for="course" class="block text-sm font-medium text-gray-700">Course</label>
                          <div class="mt-1">
                            <select
                              id="course"
                              name="result"
                              autocomplete="course-name"
                              class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                            >
                              <% for(var i=0; i < options.length; i++) {%>
                              <option value="<%= options[i].id %>"><%= options[i].course %></option>
                              <% } %>
                            </select>
                          </div>
                        </div>

                        <div class="sm:col-span-6">
                          <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                          <div class="mt-1">
                            <textarea
                              id="description"
                              name="description"
                              rows="8"
                              class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                            ></textarea>
                          </div>
                          <p class="mt-2 text-sm text-gray-500">
                            Please provide a clear description to support your claim.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pt-5">
                    <div class="flex justify-end">
                      <a
                        href="/results"
                        class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50"
                      >
                        Cancel
                      </a>
                      <button
                        type="submit"
                        class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
