<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="/scripts/nav.js"></script>
  </head>
  <body class="min-h-screen bg-gray-200">
    <div class="relative overflow-hidden min-h-screen">
      <div class="relative pt-6 pb-6 mb-10 sm:mb-18 bg-gray-800">
        <%- include('./partials/nav', {isLoggedIn: isLoggedIn}); %>
      </div>
      <div class="max-w-7xl mx-auto">
        <div class="px-4">
          <div class="py-14 px-10 sm:px-20 border rounded-lg bg-white">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="">
              <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                  <h1 class="text-4xl font-bold leading-tight tracking-tight text-gray-900">Results</h1>
                  <p class="mt-2 text-sm text-gray-700">For Academic Calendar Year</p>
                  <p class="mt-2 text-sm text-gray-700 font-bold">Student ID: <%= id %></p>
                </div>
                <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                  <a
                    href="/request-remark"
                    class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 sm:w-auto"
                  >
                    Request Remark
                  </a>
                </div>
              </div>
              <div class="-mx-4 mt-8 flex flex-col sm:-mx-6 md:mx-0">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                    <tr>
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0"
                      >
                        Subject
                      </th>
                      <th
                        scope="col"
                        class="hidden py-3.5 px-3 text-left text-sm font-semibold text-gray-900 sm:table-cell"
                      >
                        Subject Code
                      </th>
                      <th
                        scope="col"
                        class="hidden py-3.5 px-3 text-center text-sm font-semibold text-gray-900 sm:table-cell"
                      >
                        Unit
                      </th>
                      <th
                        scope="col"
                        class="hidden py-3.5 px-3 text-center text-sm font-semibold text-gray-900 sm:table-cell"
                      >
                        Marks
                      </th>
                      <th
                        scope="col"
                        class="py-3.5 pl-3 pr-4 text-center text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0"
                      >
                        Grade
                      </th>
                      <th
                        scope="col"
                        class="hidden py-3.5 px-3 text-center text-sm font-semibold text-gray-900 sm:table-cell"
                      >
                        Points
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < results.length; i++) {%>
                    <tr class="border-b border-gray-200">
                      <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                        <div class="font-medium text-gray-900"><%= results[i].course.title %></div>
                      </td>
                      <td class="hidden py-4 px-3 text-left text-sm text-gray-500 sm:table-cell">
                        <%= results[i].course.code %>
                      </td>
                      <td class="hidden py-4 px-3 text-center text-sm text-gray-500 sm:table-cell">
                        <%= results[i].course.unit %>
                      </td>
                      <td class="hidden py-4 px-3 text-center text-sm text-gray-500 sm:table-cell">
                        <%= results[i].marks %>
                      </td>
                      <td class="py-4 pl-3 pr-4 text-center text-sm text-gray-500 sm:pr-6 md:pr-0">
                        <%= results[i].grade %>
                      </td>
                      <td class="hidden py-4 px-3 text-center text-sm text-gray-500 sm:table-cell">
                        <%= results[i].point %>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th
                        scope="row"
                        colspan="5"
                        class="hidden pl-6 pr-3 pt-6 text-right text-sm font-normal text-gray-500 sm:table-cell md:pl-0"
                      >
                        Weighted Average Marks
                      </th>
                      <th scope="row" class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-gray-500 sm:hidden">
                        Weighted Average Marks
                      </th>
                      <td class="pl-3 pr-4 pt-6 text-center text-sm text-gray-500 sm:pr-6 md:pr-0">
                        <%= weighted_average_marks %>
                      </td>
                    </tr>
                    <tr>
                      <th
                        scope="row"
                        colspan="5"
                        class="hidden pl-6 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell md:pl-0"
                      >
                        GPA
                      </th>
                      <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">
                        GPA
                      </th>
                      <td class="pl-3 pr-4 pt-4 text-center text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0">
                        <%= gpa %>/7.0
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
